@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap');

:root{
    --color-primary: #27AE60;
    --color-secondary: #EB5757;

    --gray-600: #333333;
    --gray-300: #828282;
    --gray-100: #E0E0E0;
    --gray-0: #F5F5F5;

    --font-primary: 'Inter', sans-serif;

    --title-one: 1.625rem;
    --title-two: 1.375rem;
    --title-three: 1.125rem;
    --paragraph-one: 1rem;
    --paragraph-two: 0.875rem;
    --paragraph-three: 0.75rem;

    --bold: 700;
    --semibold: 600;
    --regular: 500;

}


